* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
}

.navbar-light .navbar-brand {
  color: white;
  font-size: 2.5rem;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 1.5rem;
}
li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 1.5rem;
}
h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  position: relative;
  color: #fff !important;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
  background-color: #0a0732b6;
  left: -30px;
  display: inline-block;
  padding: 5px 20px;
  box-shadow: 7px 4px 10px rgba(0, 0, 0, 0.3);
}
h3::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-color: #cab7b7;
  transform: rotate(90deg);
  z-index: -1;
  left: -7px;
  top: -7px;
}

h5 {
  font-family: "Calibri";
}

#firstpage {
  color: white;
  background-image: url(/img/proj.jpg);
  /* background-size: 100%;
    background-position: center;
    background-repeat: unset;
    width: 100%; */
}

.tcs-1 {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 7%;
  padding-bottom: 23%;
  background-image: url(https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
}
.tcs-2 {
  padding: 2% 10%;
  background-image: linear-gradient(
    to top left,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}

.tcs-text1 {
  font-size: 1.9rem;
  font-family: "Ubuntu", sans-serif;
  word-spacing: 4px;
  color: rgb(83, 60, 60);
  line-height: 1.2em;
}

.tcs-Kiosk {
  font-size: 1.9rem;
  font-family: "Ubuntu", sans-serif;
  word-spacing: 4px;
  color: rgba(7, 7, 7, 0.783);
  line-height: 1.2em;
}

.tcs-img-1 {
  margin-top: 12%;
  margin-bottom: 10%;
  margin-left: 10%;
  border-radius: 0% 25% 0% 25%;
  transform-style: flat;
  max-height: 75vh;
  max-width: 75vh;
}
.tcs-4 {
  text-align: center;
}
#tcs-sec-2 {
  padding: 0% 0% 6% 10%;
  padding-top: 6%;
  background-color: #a8ceceb0;
}
#tcs-sec-3 {
  padding: 2% 10%;
  background-image: linear-gradient(
    to top left,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}

#tcs-sec-4 {
  padding: 5% 10%;
  background-image: linear-gradient(
    to top left,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}
#tcs-sec-5 {
  padding: 5% 10%;
  background-image: linear-gradient(
    to bottom right,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}
#tcs-sec-6 {
  padding: 5% 10%;
  background-image: linear-gradient(
    to bottom right,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}
.tcs-5 {
  padding: 6% 0%;
}
.tcs-6 {
  padding: 3% 0%;
}
.tcs-img {
  border-radius: 100% 100% 0% 100%;
  padding: 3% 3%;
  border: 10px solid #c9418ec2;
}

.tcs-headname {
  margin-top: 43%;
  border-radius: 0% 20% 20% 0%;
  border: #eae2eb 5px solid;
  box-shadow: 1px 2px 10px 2px #7e7e7ee2;
}
.jalis {
  position: relative;
  box-shadow: 0 35px 65px rgba(6, 34, 70, 0.6);
  overflow: hidden;
  max-width: 12rem;
  max-height: 12rem;
}

.nme1 {
  background-color: #5ca3ff;
  width: 80%;
  position: absolute;
  bottom: 40px;
  right: -90%;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
  transform: skew(-5deg);
  transition: 0.7s;
}
.nme2 {
  background-color: #ffff;
  width: 80%;
  padding: 12px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
  position: absolute;
  right: -90%;
  bottom: 5px;
  transform: skew(-5deg);
  transition: 0.4s;
}

.jalis:hover .nme1 {
  right: -6%;
}
.jalis:hover .nme2 {
  right: -0%;
}

.tcs-text2 {
  border: 7px solid
    linear-gradient(to bottom right, #90efec, rgba(43, 189, 43, 0.977));
  margin-top: 7px;
  padding: 23% 15%;
}

.Scroll-bg {
  width: 80%;
  margin: 5% auto;
  background-color: rgba(194, 126, 126, 0.619) d;
}
.Scroll-div {
  width: 90%;
  background: #686868ba;
  overflow: hidden;
  overflow-y: scroll;
  height: 350px;
  margin: auto;
}
.Scroll-obj {
  color: white;
  font-size: 15px;
  padding: 2% 5%;
  text-align: center;
}

.zoom1 {
  box-shadow: 0px 1px 5px 2px #fcf8f8b1;
  transition: 0.5s;
}
.zoom1:hover {
  transform: scale(1.1);
}
.btn-12 {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  background-color: #958b8bb9;
  box-shadow: 0 35px 65px rgba(231, 236, 243, 0.874);
  left: -6%;
  padding: 1px 3px;
}

.tcs-2 {
  padding: 2% 10%;
  background-image: linear-gradient(
    to top left,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}

.tcs-text1 {
  font-size: 1.9rem;
  font-family: "Ubuntu", sans-serif;
  word-spacing: 4px;
  color: rgb(83, 60, 60);
  line-height: 1.2em;
  padding-left: 15%;
  padding-top: 7%;
}

.tcs-4 {
  text-align: center;
}
#tcs-sec-2 {
  padding: 0% 0% 6% 10%;
  padding-top: 6%;
  background-color: #a8ceceb0;
}

#tcs-sec-3 {
  padding: 2% 10%;
  background-image: linear-gradient(
    to top left,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}

#tcs-sec-4 {
  padding: 5% 10%;
  background-image: linear-gradient(
    to top left,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}
#tcs-sec-5 {
  padding: 5% 10%;
  background-image: linear-gradient(
    to bottom right,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}
#tcs-sec-6 {
  padding: 5% 10%;
  background-image: linear-gradient(
    to bottom right,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}
.tcs-5 {
  padding: 6% 0%;
}
.tcs-6 {
  padding: 3% 0%;
}
.tcs-img {
  border-radius: 100% 100% 0% 100%;
  padding: 3% 3%;
  border: 10px solid #c9418ec2;
}

.tcs-headname {
  margin-top: 43%;
  border-radius: 0% 20% 20% 0%;
  border: #eae2eb 5px solid;
  box-shadow: 1px 2px 10px 2px #7e7e7ee2;
}
.jalis {
  position: relative;

  box-shadow: 0 35px 65px rgba(6, 34, 70, 0.6);
  overflow: hidden;
}

.nme1 {
  background-color: #5ca3ff;
  width: 80%;
  position: absolute;
  bottom: 40px;
  right: -90%;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
  transform: skew(-5deg);
  transition: 0.7s;
}
.nme2 {
  background-color: #ffff;
  width: 80%;
  padding: 12px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
  position: absolute;
  right: -90%;
  bottom: 5px;
  transform: skew(-5deg);
  transition: 0.4s;
}

.jalis:hover .nme1 {
  right: -6%;
}
.jalis:hover .nme2 {
  right: -0%;
}

.tcs-text2 {
  border: 7px solid
    linear-gradient(to bottom right, #90efec, rgba(43, 189, 43, 0.977));
  margin-top: 7px;
  padding: 23% 15%;
}

.Scroll-bg {
  width: 80%;
  margin: 5% auto;
  background-color: rgba(194, 126, 126, 0.619) d;
}
.Scroll-div {
  width: 90%;
  background: #686868ba;
  overflow: hidden;
  overflow-y: scroll;
  height: 350px;
  margin: auto;
}
.Scroll-obj {
  color: white;
  font-size: 15px;
  padding: 2% 5%;
  text-align: center;
}

.zoom1 {
  box-shadow: 0px 1px 5px 2px #fcf8f8b1;
  transition: 0.5s;
}
.zoom1:hover {
  transform: scale(1.1);
}
.btn-12 {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  background-color: #958b8bb9;
  box-shadow: 0 35px 65px rgba(231, 236, 243, 0.6);
  left: -6%;
  padding: 1px 3px;
}

#footer {
  padding-top: 2.5%;
  padding-bottom: 1%;
  background-color: black;
  color: rgb(252, 249, 249);
  text-align: center;
}

.brands-icon {
  margin: 20px 10px;
}
.tcs-sec-8 {
  padding: 4% 10%;
  background-image: linear-gradient(
    to bottom right,
    #00fff798,
    rgba(145, 141, 141, 0.849)
  );
  padding-bottom: 4%;
}

.img_box {
  box-shadow: 0px 1px 5px 1px #000000b1;
}
.whole_img {
  padding: 5% 10%;
}

.splide__arrow {
  opacity: 1;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #050506;
}

/* try */

#main {
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 500px;
  height: 230px;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 7% 0%;
}
#name {
  color: rgba(6, 5, 5, 0.874);
  border-bottom: 2px solid rgba(255, 255, 255, 0.288);
  line-height: 60%;
  text-align: right;
}
#profilepic {
  height: 160px;
  width: 160px;
  box-shadow: 0 0 42px 0 rgba(255, 255, 255, 0.17);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 10%;
}
#photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link {
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 0px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  font-size: 34px;
  padding: 4px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 10px;
  cursor: pointer;
}

.link:hover {
  transform: translateY(-2px);
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.5);
}

#github:hover a {
  background: -webkit-linear-gradient(rgb(124, 0, 124), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#insta:hover a {
  background: -webkit-linear-gradient(45deg, #ffffff7d, #1256ea, #0f0f65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#dribbble:hover a {
  background: -webkit-linear-gradient(45deg, #5162e4, #061656);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contacts {
  display: flex;
  flex-direction: row;
}
